<%- include('../../partials/header.ejs') %>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include('../../partials/sidebar.ejs') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>
              <!-- Topbar Search -->
              <!-- Topbar Navbar -->
              <ul class="navbar-nav ml-auto">
                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-user-circle fa-lg mr-2"></i>
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                      <%= user.username %>
                    </span>
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/admin/logout">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Logout
                    </a>
                  </div>
                </li>
              </ul>
            </nav>

            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <%- include('../../partials/message.ejs') %>
                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Dashboard</h1>
                <div class="row">
                  <div class="col-3">
                    <form method="POST">
                      <div class="form-group">
                        <label for="name">Customer</label>
                        <select class="form-control " name="customerID" id="customerID" required>
                          <option selected disabled value=""> </option>
                          <% for(var i=0; i < customer.length; i++){ %>
                            <option value=<%=customer[i]._id %> ><%= customer[i].name %>
                            </option>
                            <% } %>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="name">Pick Dates</label>
                        <input class="form-control " type="text" name="datetimes" autocomplete="off" required>
                      </div>
                      <div class="form-group">
                        <label for="name">Producs</label>
                        <select  id="productID"  onchange="selectedProduk(this)" class="form-control " required>
                          <option selected disabled value=""> </option>
                          <% for(var i=0; i < products.length; i++){ %>
                       
                            <option data-item="<%= products[i].product_name %>" value=<%=products[i]._id %> ><%= products[i].product_name %>
                            </option>
                            <% } %>
                        </select>
                      </div>
                      <div id="experienceSection"></div>
                      <input type="hidden" id="productLength" value="<%= products.length %>">
                      <input type="hidden" id="bookingData" value="<%= JSON.stringify(booking)  %>">
                   


                    </form>
                  </div>
                  <div class="col-sm-9">
                    <!-- <div id='idbooking'  data-idbooking="hello" ></div> -->
                    <div id='calendar'></div>
                  </div>

                </div>
            </div>

            <!-- End of Main Content -->

            <!-- Footer -->
            <%# include("../../partials/footer.ejs") %>

              <!-- End of Footer -->
          </div>
          <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                Select "Logout" below if you are ready to end your current session.
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">
                  Cancel
                </button>
                <a class="btn btn-primary" href="login.html">Logout</a>
              </div>
            </div>
          </div>
        </div>
  </body>

  <%- include('../../partials/dash.ejs') %>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>

    <script>
        let dataArr = [];
        let key = 1;
      function selectedProduk(e) {
        let selected = e.options[e.selectedIndex].getAttribute("data-item");
        const check =  dataArr.includes(selected)
  
        if(check == false){
          dataArr.push(selected);
          let numbering = key++;
          localStorage.setItem('dataProduct', dataArr);
          let data = localStorage.getItem('dataProduct');
      
          var $section =  $(' <input id="item'+ numbering +'" type="text" disabled="disabled" class="form-control"  />');
          $('#experienceSection').append($section);
          document.getElementById("item" + numbering).value = e.options[e.selectedIndex].getAttribute("data-item");
        }
 
      }
    </script>

    <style>
      .popper,
      .tooltip {
        position: absolute;
        z-index: 9999;
        background: #FFC107;
        color: black;
        width: 150px;
        border-radius: 3px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        padding: 10px;
        text-align: center;
        opacity: 1;
      }

      .tooltip-inner {
        background-color: transparent;
      }

      .style5 .tooltip {
        background: #1E252B;
        color: #FFFFFF;
        max-width: 200px;
        width: auto;
        font-size: .8rem;
        padding: .5em 1em;
      }

      .popper .popper__arrow,
      .tooltip .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
      }

      .tooltip .tooltip-arrow,
      .popper .popper__arrow {
        border-color: #FFC107;
      }

      .style5 .tooltip .tooltip-arrow {
        border-color: #1E252B;
      }

      .popper[x-placement^="top"],
      .tooltip[x-placement^="top"] {
        margin-bottom: 5px;
      }

      .popper[x-placement^="top"] .popper__arrow,
      .tooltip[x-placement^="top"] .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }

      .popper[x-placement^="bottom"],
      .tooltip[x-placement^="bottom"] {
        margin-top: 5px;
      }

      .tooltip[x-placement^="bottom"] .tooltip-arrow,
      .popper[x-placement^="bottom"] .popper__arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }

      .tooltip[x-placement^="right"],
      .popper[x-placement^="right"] {
        margin-left: 5px;
      }

      .popper[x-placement^="right"] .popper__arrow,
      .tooltip[x-placement^="right"] .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }

      .popper[x-placement^="left"],
      .tooltip[x-placement^="left"] {
        margin-right: 5px;
      }

      .popper[x-placement^="left"] .popper__arrow,
      .tooltip[x-placement^="left"] .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    </style>
    <script>
      let newData = document.getElementById('bookingData').value;
      let dataParse = JSON.parse(newData)
      // console.log("dataParse " , dataParse)
 
      let dataArray = []
      let dataName = []
      dataParse.forEach(element => {
        // console.log("element" , element)
        element.product_id.forEach(result => {
           dataName.push(result.product_name)
        });
      });
      let uniqueChars = [...new Set(dataName)];
      dataParse.forEach(result => {
        var objEvent = {
          title: result.customer_id.name,
          description: "tempat pengambilan : " + result.lokasi_pengambilan,
          start: result.start_date,
          end: result.end_date,
        };
        dataArray.push(objEvent);
  
      });

      document.addEventListener('DOMContentLoaded', function () {

        var calendarEl = document.getElementById('calendar');
        var Draggable = FullCalendar.Draggable;

        // var containerEl = document.getElementById('external-events');
        // var checkbox = document.getElementById('drop-remove');
        // new Draggable(containerEl, {
        //   itemSelector: '.fc-event',
        //   eventData: function (eventEl) {
        //     return {
        //       title: eventEl.innerText
        //     };
        //   }
        // });



        var calendar = new FullCalendar.Calendar(calendarEl, {

          dayMaxEventRows: true, // for all non-TimeGrid views


          selectable: true,

          initialView: 'dayGridMonth',
          editable: true,
          themeSystem: 'bootstrap',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek',
          },
          navLinks: true, // can click day/week names to navigate views
          droppable: true,
          eventTimeFormat: { // like '14:30:00'
            hour: '2-digit',
            minute: '2-digit',
            hour12: true
          },
          eventDidMount: function (info) {
            var tooltip = new Tooltip(info.el, {
              title: info.event.extendedProps.description,
              placement: 'top',
              trigger: 'hover',
              container: 'body'
            });
          },

          eventResize: function (info) {
            alert(info.event.title + " end is now " + info.event.end.toISOString());

            if (!confirm("is this okay?")) {
              info.revert();
            }
          },
          eventDrop: function (info) {
            alert(info.event.title + " was dropped on " + info.event.start.toISOString());

            if (!confirm("Are you sure about this change?")) {
              info.revert();
            }

          },

          drop: function (info) {
            alert(info)
          },
          titleFormat: { // will produce something like "Tuesday, September 18, 2018"
            month: 'long',
            hour12: false,
          },
          events: dataArray,



          // events: [
          //   {
          //     title: 'Camera 1',
          //     description: 'description for Long Event',
          //     start: '2018-08-01 11:00',      
          //     end: '2022-08-02 11:00'
          //   },
          //   {
          //     title: 'Camera 2',
          //     description: 'description for Long Event',
          //     start: '2018-08-03 11:00',
          //     end: '2022-08-04 11:00'
          //   },
          //   {
          //     title: 'Camera DSLR 300',
          //     description: 'description for Long Event',
          //     start: '2022-08-17',
          //     end: '2022-08-18'
          //   },
          //   {
          //     title: 'Click for Google',
          //     description: 'description for Long Event',
          //     start: '2022-08-20',
          //     end: '2022-08-22'
          //   },
          //   {
          //     title: 'Long Event',
          //     description: 'description for Long Event',
          //     start: '2022-08-07',
          //     end: '2022-08-10'
          //   },
          // ]

        });

        calendar.render();
      });

    </script>

    </html>