<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_user">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Karyawan</th>
              <th>Password</th>
              <th>Status Penempatan</th>
              <th>Status Karyawan</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < dataUser.length; i++) { %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= dataUser[i].username %></td>
              <td><%= dataUser[i].password %></td>
              <td><%= dataUser[i].statusPenempatan %></td>
              <td><%= dataUser[i].status %></td>
              <td>
                <form action="/admin/user/<%= dataUser[i].id %>?_method=DELETE" method="POST">
                  <a type="button" class="btn btn-warning btn-circle btn-sm button-update"
                  data-id="<%= dataUser[i].id %>" data-username="<%= dataUser[i].username %>"  data-password="<%= dataUser[i].password %>"
                     data-penempatan="<%= dataUser[i].statusPenempatan %>"  data-status="<%= dataUser[i].status %>" >
                    <i class="fas fa-edit"></i></a>
                  <button type="submit" class="btn btn-danger btn-circle btn-sm">
                    <i class="fas fa-trash"></i></button>
                </form>
              </td>
            </tr>
            <% }%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  