<!-- Modal -->
<div class="modal fade" id="add-booking" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Booking</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/admin/booking/add_booking" method="POST">
        <div class="modal-body">
            <div class="form-group">
              <label for="name">Customer</label>
              <select class="form-control selectpicker" data-live-search="true" name="customer_id" id="customer_id" required>
                <option selected disabled value=""> </option>
                <% for(var i=0; i < customer.length; i++){ %>
                  <option value=<%=customer[i]._id %> ><%= customer[i].name %>
                  </option>
                  <% } %>
              </select>       
            </div>
            <div class="form-group">
              <label for="name">Pick Dates</label>
              <input class="form-control " type="text" name="datetimes" autocomplete="off" required>
            </div>
            <div class="form-group">
              <label for="name">Producs</label>
              <select name="product_id" id="product_id" onchange="selectedProduk(this)" class="form-control selectpicker" data-live-search="true" required>
                <option selected disabled value=""> </option>
                <% for(var i=0; i < products.length; i++){ %>
                  <option data-item= "<%= products[i].product_name%>^<%= products[i]._id %>^<%= products[i].ownership %>"  value=<%=products[i]._id %> > <%= products[i].product_name %> | <%= products[i].ownership %> 
                  </option>
                  <% } %>
              </select>
            </div>
            <div  name="productSection"  id="productSection"></div>
            <div class="form-group">
              <label for="statusPenempatan">Lokasi pengambilan</label>
              <select class="form-control statusPenempatan" name="statusPenempatan" required>
                <option value=""> </option>
                <option value="Cipadung" >Cipadung</option>
                <option value="DU" >DU</option>
              </select>
           </div>
           <input  type="hidden" class="form-control" value="<%= user.id %>" name="user_id" id="user_id" />
             <input  type="hidden" class="form-control" name="productbook" id="productbook" />
             <input  type="hidden" class="form-control" name="start_date" id="start_date" />
             <input  type="hidden" class="form-control" name="end_date" id="end_date" />
             <input type="hidden" class="form-control" id="booking_date"
             name="booking_date" value="<%= moment().format('YYYY-MM-DD hh:mm')%>">
            <input type="hidden" id="bookingData" value="<%= JSON.stringify(booking)  %>" />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>

<script>
    let dataArr = [];
    let dataid = [];
    let key = 1;
    
  function selectedProduk(e) {
    let selected = e.options[e.selectedIndex].getAttribute("data-item");
    const check =  dataArr.includes(selected.split('^')[0])

    if(check == false){
      // NOTE: di dalam string nya gue kasih delimeter ^ [0] = nama produk [1] = id produk
      dataArr.push(selected.split('^')[0]);
      dataid.push(selected.split('^')[1])
 
      let numbering = key++;
      let testproduct = document.getElementById('productbook').value = dataid;
      var $section =  $('<div id="section'+numbering+'" class="input-group mb-3"> <input id="itemDisplay'+ numbering +'" type="text" disabled="disable" class="form-control" >  <input id="item'+ numbering +'" type="hidden" class="form-control" >  <input id="itemid'+ numbering +'" type="hidden"  class="form-control" >  <div class="input-group-append"> <button type="button" onclick="removeItem('+ numbering +')" class="btn btn-danger btn-sm"> <i class="fas fa-trash"></i></button></div> </div>');
      $('#productSection').append($section);
      document.getElementById("item" + numbering).value = selected.split('^')[0];
      document.getElementById("itemid" + numbering).value = selected.split('^')[1];
      document.getElementById("itemDisplay" + numbering).value = selected.split('^')[0] + " | " + selected.split('^')[2];
    }
  }

  function removeItem (number){
    // remove element yang udah di create dari append
    let element = document.getElementById("section" + number);
 
    let removeData = document.getElementById("item" + number).value;
    let removeId = document.getElementById("itemid" + number).value;

    //remove product name dari array dataArr
    const index = dataArr.indexOf(removeData);
    if (index > -1) { 
      dataArr.splice(index, 1); 
    }

    //remove id dari array dataid
    const indexId = dataid.indexOf(removeId);
    if (index > -1) { 
      dataid.splice(indexId, 1); 
    }
    element.remove();
    document.getElementById("product_id").value = dataid[0];
 
  }
</script>