<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <!-- Button trigger modal -->
      <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#add-booking">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Customer</th>
              <th>Karyawan</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Lokasi</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < booking.length; i++) { %>
            <tr>
              <td>B<%- JSON.stringify(booking[i]._id).slice(20, 25)  %></td>
              <td><%- booking[i].customer_id.name %></td>
              <td><%= booking[i].user_id.username %></td>
              <td><%= booking[i].start_date %></td>
              <td><%= booking[i].end_date %></td>
              <td><%= booking[i].lokasi_pengambilan %></td>
              <td>
                <form action="/admin/booking/<%= booking[i].id %>?_method=DELETE" method="POST">
                  <a href="/admin/booking/detail/<%= booking[i]._id %>" class="btn btn-success btn-circle btn-sm">
                    <i class="fas fa-eye"></i></a>
                    <a type="button" class="btn btn-warning btn-circle btn-sm button-update"
                    data-id="<%= booking[i].id %>" data-namecustomer="<%=  booking[i].customer_id._id %>"  data-datetimes="<%= booking[i].start_date %> | <%=  booking[i].end_date %> "
                      data-lokasi="<%= booking[i].lokasi_pengambilan %>"  data-product="<%= JSON.stringify(booking[i].product_id)  %>" >
                      <i class="fas fa-edit"></i></a>
                      
                  <button type="submit" class="btn btn-danger btn-circle btn-sm">
                    <i class="fas fa-trash"></i></button>
                </form>
              </td>
            </tr>
            <% }%>
          </tbody>
        </table>
      </div>
    </div>
  </div>