<%- include('../../partials/header.ejs') %>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

  <%- include('../../partials/sidebar.ejs') %>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <%- include('../../partials/navbar.ejs') %>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <%- include('../../partials/message.ejs') %>

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Booking</h1>
        <!-- End Heading -->

        <!-- nanti di sini diisi table nya -->

        <!-- nanti di sini diisi table nya -->
        <%- include('table_booking.ejs') %>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <%- include('../../partials/footer.ejs') %>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
</body>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>
<%- include('add_booking.ejs') %>
<%- include('edit_booking.ejs') %>
<%- include('../../partials/dash.ejs') %>

<script>
  $('#dataTable').on('click', '.button-update', function () {
    let id = $(this).data('id');
    let namecustomer = $(this).data('namecustomer');
    let datetimes = $(this).data('datetimes');
    var product = $(this).data('product');
    let lokasi = $(this).data('lokasi');
  
    $('#edit-booked').modal('show');
    $('.id').val(id);
    $('.namecustomer').val(namecustomer);
    $('.datetimes').val(datetimes);
    //NOTE: kalo array harus json stringfy dlu baru bisa di lempar
    $('.product').val(JSON.stringify(product));
    $('.lokasi').val(lokasi);
  })
</script>




<script>
  let dataArrayEdit = [];
  let data_id = [];
  let keyValue = 0;

function onShowModal() {
    //NOTE: ketika udah dapet lemparan baru di parse 
    var dataProduct =  JSON.parse(document.getElementById("product").value) 
  
    dataProduct.forEach(res => {
      let merge = res.product_name + "^" + res._id;
      this.selectedEdit(null, merge)
    });
  }

function selectedEdit(e, data) {
  let selected = e ? e.options[e.selectedIndex].getAttribute("data-item") : data;
  const check =  dataArrayEdit.includes(selected.split('^')[0])

  if(check == false){
    // NOTE: di dalam string nya gue kasih delimeter ^ [0] = nama produk [1] = id produk
    dataArrayEdit.push(selected.split('^')[0]);
    data_id.push(selected.split('^')[1])
    let numbering = keyValue++;
    console.log("numbering" , numbering)
  

    var $section_edit =  $('<div id="section_edit'+numbering+'" class="input-group mb-3"> <input id="item'+ numbering +'" type="text" disabled="disable" class="form-control" >  <input id="itemid'+ numbering +'" type="hidden"  class="form-control" >  <div class="input-group-append"> <button type="button" onclick="removeItemEdit('+ numbering +')" class="btn btn-danger btn-sm"> <i class="fas fa-trash"></i></button></div> </div>');
    $('#productedit').append($section_edit);
    document.getElementById("item" + numbering).value = selected.split('^')[0];
    document.getElementById("itemid" + numbering).value = selected.split('^')[1];
  }
}

function removeItemEdit (number){
  // remove element yang udah di create dari append
  let element = document.getElementById("section_edit" + number);
  let removeData = document.getElementById("item" + number).value;
  let removeId = document.getElementById("itemid" + number).value;
  document.getElementById("productid_edit").selectedIndex = 0;

  //remove product name dari array dataArrayEdit
  const index = dataArrayEdit.indexOf(removeData);
  if (index > -1) { 
    dataArrayEdit.splice(index, 1); 
  }

  //remove id dari array data_id
  const indexId = data_id.indexOf(removeId);
  if (index > -1) { 
    data_id.splice(indexId, 1); 
  }
  element.remove();

}
</script>

<script>
  $('#edit-booked').on('hidden.bs.modal', function (e) {
    console.log("keyValue " , keyValue)
    // keyDelete.forEach(res => {
    //   console.log(" res" , res)
    //   // removeItemEdit(res)
    // })
})
</script>