<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3" >
    <!-- Button trigger modal -->
    <button style="margin-right: 10px" type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-product">
      <i class="fas fa-plus"></i>
    </button> 
    

    <select class="btn btn-primary" id="tipe">
      <option value=""> Type </option>
       <option value="Camera">Camera</option>
       <option value="Tripod">Tripod</option>
       <option value="Lighting">Lighting</option>
       <option value="Audio">Audio</option>
       <option value="Monitor">Monitor</option>
       <option value="Stabilizer">Stabilizer</option>
       <option value="Battery">Battery</option>
       <option value="Charger">Charger</option>
       <option value="Battery">Battery</option>
       <option value="SdkCard">Sdk Card</option>
     </select>

     <select class="btn btn-primary" id="statusFilter">
      <option value=""> Status </option>
       <option value="Avalaible">Avalaible</option>
       <option value="Booked">Booked</option>
     </select>


 

  </div>




  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama Produk</th>
            <th>Type</th>
            <th>Price</th>
            <th>Barcode</th>
            <th>Status</th>
           
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < product.length; i++) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= product[i].product_name %></td>
            <td><%= product[i].tipe %></td>
            <td> <%= utils.fortmatCurrency(product[i].price)  %></td>
            <td> <%= product[i].barcode %></td>
            <td class="m-0 font-weight-bold text-success"><%= product[i].status_produk %></td>
            <td>
              <form action="/admin/product/<%= product[i].id %>?_method=DELETE" method="POST">
                <a href="javascript:void()" type="button" class="btn btn-warning btn-circle btn-sm button-update"
                data-id="<%= product[i].id %>" data-product_name="<%= product[i].product_name %>"   data-tipe="<%= product[i].tipe %>"
                 data-barcode="<%= product[i].barcode %>"  data-price="<%= product[i].price %>" data-status_produk="<%= product[i].status_produk %>" >
                  <i class="fas fa-edit"></i></a>
                <button type="submit" class="btn btn-danger btn-circle btn-sm">
                  <i class="fas fa-trash"></i></button>
              </form>
            </td>
          </tr>

          <% }%>
        </tbody>
      </table>
    </div>
  </div>
</div>

